.app-livelist.list-card .app-list-item .app-card.card {
    margin: 1em;
    height: 200px !important;
    width: 230px !important;
}
.app-livelist.list-card .app-list-item .app-card.card:hover {
    scale: 1.05;
    cursor: pointer;
}